:root {
    --main-bg-color: radial-gradient(#8fb08f, #718671);
    --primary-color: #eed9c4;
    --bg-fields: #fff;
    --fields: #400847;
    --bg-schoolbag: #f1baff;
    --box-shadow: #bb95c4;
    --border-schoolbag: #400847;
}

* {
    margin: 0;
    padding: 0;
}

html {
    background: var(--main-bg-color);
    height: 100%;
    font-family: 'Roboto', cursive;
}


.conteudo {
    padding: 10vh 3em 0;
    display: flex;
    align-items: flex-start;
    gap: 2em;
}

.principal {
    flex-grow: 1;
    flex-basis: auto;
    min-width: 550px;
    padding: 4em 2em 2em;
    box-sizing:border-box;
    display: flex;
    background: var(--primary-color);  
    border-radius: 10px;
    gap: 2em;
}

  
.mochila {
    min-width: 170px;
    max-width: 170px;
    height: 180px;
    padding-top: 80px;
    background-color: var(--bg-schoolbag);
    box-shadow: inset 0 6px 0 2px var(--box-shadow), 0 -93px 0 -77px var(--border-schoolbag), 0 -93px 0 -72px var(--bg-schoolbag), 0 -93px 0 -68px var(--border-schoolbag);
    background-image: linear-gradient(to right, transparent 5px, transparent 20px, transparent 1px, transparent 25px, transparent 5px, transparent 20px, transparent 20px, transparent 86px, var(--box-shadow) 45px, var(--box-shadow) 230px, transparent 25px, transparent 172px );
    background-position: center 254px;
    background-size: 305px 6px;
    background-repeat: repeat-x; 
    border: 5px solid var(--border-schoolbag);
    border-radius: 85px 85px 44px 44px;
    display: inline-block;
    vertical-align: top;
    flex-basis: auto;
    flex-grow: 1;
}
  
.mochila:before, .mochila:after {
    display: block;
    content: '';
    position: absolute;
  }
  
.mochila:before {
    height: 75px;
    width: 118px;
    background-image: radial-gradient(circle closest-corner at 13px 29px , var(--bg-schoolbag), var(--bg-schoolbag) 2px, transparent 2px, transparent), radial-gradient(circle closest-corner at 13px 29px , var(--border-schoolbag), var(--border-schoolbag) 4px, transparent 4px, transparent), linear-gradient(to bottom, transparent 10px, transparent 15px, var(--border-schoolbag) 5px, var(--border-schoolbag) 18px, transparent 18px, transparent 100px), linear-gradient(to right, var(--bg-schoolbag) 10px, var(--bg-schoolbag) 10px, transparent 10px, transparent 16px, var(--bg-schoolbag) 9px, var(--bg-schoolbag) 50px), linear-gradient(to bottom, var(--bg-schoolbag) 8px, var(--bg-schoolbag) 16px, var(--border-schoolbag) 8px, var(--border-schoolbag) 30px, var(--bg-schoolbag) 20px, var(--bg-schoolbag) 72px, var(--bg-schoolbag) 10px, var(--bg-schoolbag) 57px, var(--bg-schoolbag) 5%);
    margin-left: 22px;
    margin-top: 58px;
    border: 4px solid var(--border-schoolbag);
    border-radius: 11px;
    box-shadow: 0 4px 0 0 var(--box-shadow), inset 0px 4px 1px 0 var(--box-shadow);
    content: '||';
    color: transparent;
    font-family: Comic Sans MS;
    font-weight: bold;
    z-index: 1;
    text-shadow: rgb(0, 0, 0) -2px -86px 0px;
    font-size: 14px;
}
  
.mochila:after {
    margin-left: 67px;
    margin-top: -30px;
    background: var(--primary-color); 
    width:26px;
    height:26px;
    border: 3px solid var(--border-schoolbag);
    border-radius: 3px;
    transform: rotate(45deg);
}

.adicionar {
    width: 100%;
}

.adicionar input {
    width: 100%;
    box-sizing: border-box;
    margin: 0.5em 0 1em;
    padding: 1em 0.5em;
    border-radius: 10px;
    border: 2px solid var(--fields);
}

.adicionar label {
    display: block;
}

.cadastrar {
    background-color: var(--fields);
    color: var(--bg-fields);
    cursor: pointer;
}

.lista {
    margin: 0;
    padding: 0;
}

.item {
    list-style: none;
    padding: 0.6em 2em;
    background: var(--bg-fields);
    border-radius: 10px;
    margin: 0 0 1em;
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    gap: 1em;
    font-size: 20px;
}

.item strong {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    Background: var(--primary-color);
    font-weight: 400;
}

@media (max-width: 1200px) {
    html {
        background-size: 100% 100%;
    }

    .conteudo {
        width: auto;
        flex-direction: column;
        text-overflow: ellipsis;
        align-items: center;

    }

    .principal {
        flex-direction: column;
        align-items: center;
        min-width:  100%;
        padding: 4em 4em 2em;
    }

    .item {
        margin-top: 1em;
        width: 100%;
    }

}
